html {
  height: 100%;
  width: 100%;
}



body {
  background-color: #c8c8c8;
}



.card__text {
  font-size:  14px;
  line-height: 35px;
  color: #c8c8c8;;
}

.card__link:hover {
  opacity: 0.7;
  transform: translateY(-5px)
}



.sidebar{
  width: 270px;
  min-width:200px;
}



.widget:not(:last-child) {
  margin-bottom: 30px;
}

.widget_title{
  position: relative;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.widget_title::after{
  content: "";
  width:20px;
  height:20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("/img/chevron-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.location{
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

.location__row{
  display: flex;
}

.location__row:first-child{
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #D6D6D6;
}

.location__row:last-child{
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #D6D6D6;
  border-top: 0;
}

.label_distance{
  flex-grow: 1;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  color: #3C3C3C;
  cursor: pointer;
  transition: background-color 0.6s;
}

.checkbox_distance{
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.label_distance:hover{
  background-color: #fff0bb;
}

.checkbox_distance:checked + .label {
  background-color: #FFCF26;
}



.radio__group {
  display: block;
  cursor: pointer;
}

.radio__group:not(:last-child) {
  margin-bottom: 15px;
}

.radio__button {
  display: none;
}

.radio__fake {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #777;
}

.radio__title {
  font-size: 16px;
  line-height: 1.88;
  color: #000;
}

.radio__button:checked + .radio__fake {
  background-color: #FFE074;
}

.radio__button:checked + .radio__fake::before {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #3C3C3C;
  content: "";
}

.radio__button:checked ~ .radio__title {
  font-weight: 700;
}



.checkbox__group {
  display: block;
  cursor: pointer;
}

.checkbox__group:not(:last-child) {
  margin-bottom: 15px;
}

.option__button {
  display: none;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #777;
}

.checkbox__title {
  font-size: 16px;
  line-height: 1.18;
  color: #000;
}

.option__button:checked + .checkbox__fake {
  background-color: #FFE074;
}

.option__button:checked ~ .checkbox__title {
  font-weight: 700;
}

.option__button:checked + .checkbox__fake::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}



.widget__hidden {
  display: none;
}

.more__button {
  display: inline-block;
  background: transparent;
  border: none;
  color: #4290c9;
  border-radius: 0;
  cursor: pointer;
}

.more__button:hover {
  text-decoration: underline;
}



.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle__title {
  font-size: 16px;
  line-height: 1.18;
  color: #000;
}

.free__button {
  display: none;
}

.toggle__fake {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 37px;
  height: 20px;
  background-color: #8f8f8f;
  border-radius: 10px;
}

.toggle__fake::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #3b3b3b;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.free__button:checked + .toggle__fake {
  background-color: #FFE074;
}

.free__button:checked ~ .toggle__title {
  font-weight: 700;
}

.free__button:checked + .toggle__fake::before {
  left: 19px;
}



.search_buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
  transition: background-color 0.2s ease-in;
  margin-bottom: 10px;
}

.filter__button:last-child {
  margin-bottom: 0;
}

.filter__button:hover {
  background-color: #e7e7e7;
}

.btn__submit {
  border: none;
  background-color: #FFCF26;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.btn__submit:hover {
  background-color: ffe173;
}



@media (max-width: 1200px) {
  .container {
    width: 830px;
  }
}

@media (max-width: 829px) {
  .container {
    width: 600px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
    z-index: 100;
  }
}

@media (max-width: 599px) {
  .cards-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
